// ==============================
// Custom style
// ==============================
@import '_custom/shaky.scss';

// @import '_custom/timeline.scss';

@font-face {
  font-family: MMT;
  src: url('/fonts/mmt_1.5.ttf');
  font-display: swap;
}

.header-title{
  font-family: MMT, sans-serif !important;
}

.header-title {
  font-family: MMT_H;
  font-size: 2rem !important;
  font-weight: normal;

  .logo {
    min-height: 0.8em;
    height: 0.8rem;
    vertical-align: revert;
  }
}
#header-mobile {
  .header-wrapper {
    max-height: 3.5rem;
  }

  .header-subtitle {
    font-size: 0.55em;
  }
}

.single {
  .single-subtitle {
    color: #57606a;
  }
}
/** 主要头像大小调整 */
.home {
  .profile-ghchart {
    width: MIN(663px, 100%);
    aspect-ratio: 663/170;
  }
  &.posts .summary .content {
    display: block;
  }
}

.home .home-profile .home-avatar{
  /** 
    https://raw.githubusercontent.com/geekswg/geekswg/snake/snake.svg 源地址 
    使用图床后 https://picx.xpoet.cn/
    https://cdn.staticaly.com/gh/geekswg/geekswg@snake/snake.svg
  */
  /** 贪吃蛇动画背景 */
  background-image:url(https://cdn.jsdelivr.net/gh/geekswg/geekswg/profile-snake-contrib/github-contribution-grid-snake.svg);
  -moz-background-size:100% 100%; background-size: 100% 100%;
}

// Custom font
@font-face {
  font-family: MMT_H;
  src: url('/fonts/mmt_header.ttf');
  font-display: swap;
}
@font-face {
  font-family: MMT_LRH;
  src: url('/fonts/mmt_sign.ttf');
  font-display: swap;
}
